
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EBidding</title>

<meta name="description" content="Bid List" />
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>
    <link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2013.2.716/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.kendostatic.com/2013.2.716/js/kendo.all.min.js"></script>

  </head>


  <body>

     <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">EBidding</h3>
      </div>


    {% if session_user_name %}
                <p align="right">Hello <b>{{ session_user_name }}</b></p>
    {% endif %}


      <div class="container">
        <h1 align="center">Products</h1>
        <p class="lead"></p>
      </div>

    <div style="display:block;float:right;">
    <button type="button" data-toggle="modal" data-target="#addProductModal" class="btn btn-primary">Add Product</button>
    <br/>
    </div>

    <div id="ProductView">
      <div id="addProductModal" class="modal fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Add Product</h3>
        </div>
        <div class="modal-body">
          <div>
      <form action = "" method = post>
        <dl>
            <dt>Product Name:</dt>
            <dd>
               <input type = text name = inputPname
                  value = "{{request.form.username }}">
            </dd>
            <dt>Product Type:</dt>
            <dd>
               <input type = text name = inputPtype
                  value = "{{request.form.username }}">
            </dd>
            <dt>Product Description:</dt>
            <dd>
               <input type = text name = inputPdesc
                  value = "{{request.form.username }}">
            </dd>
            <dt>Starting Bid:</dt>
            <dd>
               <input type = text name = inputSbid
                  value = "{{request.form.username }}">
            </dd>
         </dl>
        <p><input type = submit value = Add></p>
    </form>
            </div>
        </div>
 <!--
        <div class="modal-footer">
          <button data-bind="click: addProduct">Add Product</button>
        </div> -->
      </div>

      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Product name</th>
            <th>Type</th>
            <th>Date Added</th>
        <!-- <th>Description</th> -->
            <th>Starting bid</th>
            <th>Status</th>
        <!--    <th>Total Bids</th> -->
        </tr>
        </thead>
    <tbody>
        {% for i in obj %}
        <tr data-toggle="modal" data-id="1" data-target="#orderModal">
            <td>{{ i.get_id() }}</td>
            <td>{{ i.get_title() }}</td>
            <td>{{ i.get_producttype() }}</td>
            <td>{{i.get_date_added() }}</td>
            <td>{{ i.get_starting_bid()}}</td>
            <td>Expires in <strong>{{ i.until_expire_in_hrs() }}</strong> hours or <strong>{{i.until_expire_in_mins() }}</strong> minutes</td>
        </tr>
        {% endfor %}

    </tbody>

        <tbody data-template="bid-row-template" ></tbody>
<!--
        <tfoot data-template="bid-footer-template" data-bind="source: this"></tfoot>
        -->
      </table>
    </div>
    <div style="display:block;float:center;color:green">
    <button type="button"  data-toggle="modal" data-target="#addProductModal" class="btn btn-lg btn-success">Click Here To Bid</button>
    <br/>
    </div>

 </div>




 <!--
        <h4>Product Availbale to bid</h4>
	        {% for i in obj %}
            <div class="iner">

                <label> Title: {{ i.get_title() }} </label><br>
                <label> Type: {{ i.get_producttype() }} </label><br>
                <label> Product id: {{ i.get_id() }} </label><br>
                <label> Owner: {{ i.get_owner() }}</label><br>
                <label> DateAdded: {{i.get_date_added() }} </label><br>
            </div>
        {% endfor %}
        {% for i in obj %}
            <h4>Product bidding details</h4>
            <div class="inner2">
                <label> Title: {{i.get_title()}} </label><br>
                {% if session_user_name %}
                        <label> StartingBid: {{ i.get_starting_bid()}} </label><br>
                {% endif %}

                <label> Product Type: {{ i.get_producttype() }}</label><br>
                <p> Expires in <strong>{{ i.until_expire_in_hrs() }}</strong> hours or <strong>{{i.until_expire_in_mins() }}</strong> minutes </p>
            </div>
        {% endfor %}
      </div>



      <div class="jumbotron">
        <h1>Bucket List App</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>
//-->


      <footer class="footer">
        <p>&copy; GaneshSanthar</p>
      </footer>

    </div>
  </body>
</html>

